main {
    padding: 3rem 1.5rem;
    
    .desktop_container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .desktop_rows {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .buttons_name_container {
        background: $dark-blue;
        border-radius: 1rem;
        height: 10rem;
        display: flex;
        flex-direction: column;
        
        .avatar_name_container {
            background: $blue;
            padding: 1.5rem 1rem;
            display: flex;
            align-items: center;
            gap: .75rem;
            border-radius: 1rem;
            height: 7.5rem;
        
            .avatar {
                width: 58px;
                border: 2px solid #fff;
                border-radius: 50%;
            }
        
            .text_container {
                display: flex;
                flex-direction: column;
                gap: .25rem;
        
                small {
                    color: $pale-blue;
                    font-weight: 500;
                }
        
                h1 {
                    color: #fff;
                    font-weight: 300;
                    font-size: 1.5rem;
                }
            }
        }
        
        .buttons_container {
            padding: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
    
            button {
                border: none;
                background: transparent;
                font-size: 1rem;
                font-family: inherit;
                color: $desaturated-blue;
        
                &.active {
                    color: #fff;
                    transition: .2s;
                }
            }
        }
    }

    .desktop_row {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .stats_container {
            height: 8rem;
            display: flex;
            flex-direction: column-reverse;

            .stats {
                height: 6rem;
                border-radius: .75rem;
                padding: 1rem;
                background: $dark-blue;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .title_more {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    h2 {
                        color: #fff;
                        font-weight: 500;
                        font-size: 1.15rem;
                    }

                    svg {
                        fill: #bbc0ff;
                    }
                }

                .toggleable_text {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    span {
                        color: #fff;
                        font-size: 1.75rem;
                        font-weight: 300;

                        &.last {
                            font-size: .9rem;
                            color: $pale-blue;
                            font-weight: 400;
                            margin-top: .35rem;
                        }
                    }
                }
            }
        }

        .work {
            background: $light-orange;
            border-radius: 1rem;
            background-image: url("../images/icon-work.svg");
            background-repeat: no-repeat;
            background-position-x: 90%;
            background-position-y: -12.5%;
            background-size: 4rem; 
        }

        .play {
            background: $soft-blue;
            border-radius: 1rem;
            background-image: url("../images/icon-play.svg");
            background-repeat: no-repeat;
            background-position-x: 90%;
            background-position-y: -12.5%;
            background-size: 4rem;
        }

        .study {
            background: $light-red;
            border-radius: 1rem;
            background-image: url("../images/icon-study.svg");
            background-repeat: no-repeat;
            background-position-x: 90%;
            background-position-y: -12.5%;
            background-size: 4rem;
        }

        .exercise {
            background: $lime-green;
            border-radius: 1rem;
            background-image: url("../images/icon-exercise.svg");
            background-repeat: no-repeat;
            background-position-x: 90%;
            background-size: 4rem;
        }

        .social {
            background: $violet;
            border-radius: 1rem;
            background-image: url("../images/icon-social.svg");
            background-repeat: no-repeat;
            background-position-x: 90%;
            background-position-y: -25%;
            background-size: 3.5rem;
        }

        .selfcare {
            background: $soft-orange;
            border-radius: 1rem;
            background-image: url("../images/icon-self-care.svg");
            background-repeat: no-repeat;
            background-position-x: 90%;
            background-position-y: -17.5%;
            background-size: 3.5rem;
        }
    }
}

@media screen and (min-width: 768px) {
    main {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;

        .desktop_container {
            width: 100%;
        }

        .desktop_rows {
            flex-direction: row;
            width: 100%;
        }

        .desktop_row {
            width: 50%;
        }

        .buttons_name_container {
            .buttons_container {
                justify-content: center;
                gap: 3rem;
            }
        }
    }
}
