@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: Rubik, sans-serif;
  background: #0f1424;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  padding: 3rem 1.5rem;
}

main .desktop_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

main .desktop_rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

main .buttons_name_container {
  background: #1c1f4a;
  border-radius: 1rem;
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .buttons_name_container .avatar_name_container {
  background: #5847eb;
  padding: 1.5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .75rem;
  border-radius: 1rem;
  height: 7.5rem;
}

main .buttons_name_container .avatar_name_container .avatar {
  width: 58px;
  border: 2px solid #fff;
  border-radius: 50%;
}

main .buttons_name_container .avatar_name_container .text_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .25rem;
}

main .buttons_name_container .avatar_name_container .text_container small {
  color: #bdc1ff;
  font-weight: 500;
}

main .buttons_name_container .avatar_name_container .text_container h1 {
  color: #fff;
  font-weight: 300;
  font-size: 1.5rem;
}

main .buttons_name_container .buttons_container {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .buttons_name_container .buttons_container button {
  border: none;
  background: transparent;
  font-size: 1rem;
  font-family: inherit;
  color: #6f76c8;
}

main .buttons_name_container .buttons_container button.active {
  color: #fff;
  -webkit-transition: .2s;
  transition: .2s;
}

main .desktop_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

main .desktop_row .stats_container {
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

main .desktop_row .stats_container .stats {
  height: 6rem;
  border-radius: .75rem;
  padding: 1rem;
  background: #1c1f4a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .desktop_row .stats_container .stats .title_more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .desktop_row .stats_container .stats .title_more h2 {
  color: #fff;
  font-weight: 500;
  font-size: 1.15rem;
}

main .desktop_row .stats_container .stats .title_more svg {
  fill: #bbc0ff;
}

main .desktop_row .stats_container .stats .toggleable_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .desktop_row .stats_container .stats .toggleable_text span {
  color: #fff;
  font-size: 1.75rem;
  font-weight: 300;
}

main .desktop_row .stats_container .stats .toggleable_text span.last {
  font-size: .9rem;
  color: #bdc1ff;
  font-weight: 400;
  margin-top: .35rem;
}

main .desktop_row .work {
  background: #ff8c66;
  border-radius: 1rem;
  background-image: url("../images/icon-work.svg");
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: -12.5%;
  background-size: 4rem;
}

main .desktop_row .play {
  background: #56c2e6;
  border-radius: 1rem;
  background-image: url("../images/icon-play.svg");
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: -12.5%;
  background-size: 4rem;
}

main .desktop_row .study {
  background: #ff5c7c;
  border-radius: 1rem;
  background-image: url("../images/icon-study.svg");
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: -12.5%;
  background-size: 4rem;
}

main .desktop_row .exercise {
  background: #4acf81;
  border-radius: 1rem;
  background-image: url("../images/icon-exercise.svg");
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-size: 4rem;
}

main .desktop_row .social {
  background: #7536d3;
  border-radius: 1rem;
  background-image: url("../images/icon-social.svg");
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: -25%;
  background-size: 3.5rem;
}

main .desktop_row .selfcare {
  background: #f1c65b;
  border-radius: 1rem;
  background-image: url("../images/icon-self-care.svg");
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: -17.5%;
  background-size: 3.5rem;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100vh;
  }
  main .desktop_container {
    width: 100%;
  }
  main .desktop_rows {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  main .desktop_row {
    width: 50%;
  }
  main .buttons_name_container .buttons_container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100vh;
  }
  main .desktop_container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main .desktop_rows {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .desktop_row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main .desktop_row .stats_container {
    height: 14rem;
    width: 14rem;
    background-size: 5rem;
  }
  main .desktop_row .stats_container .stats {
    height: 11rem;
  }
  main .desktop_row .stats_container .stats:hover {
    background: #383c7a;
    -webkit-transition: .2s;
    transition: .2s;
  }
  main .desktop_row .stats_container .stats .title_more svg {
    cursor: pointer;
  }
  main .desktop_row .stats_container .stats .title_more svg:hover {
    fill: #fff;
    -webkit-transition: .2s;
    transition: .2s;
  }
  main .desktop_row .stats_container .stats .toggleable_text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  main .desktop_row .stats_container .stats .toggleable_text span {
    font-size: 3rem;
  }
  main .buttons_name_container {
    height: 30rem;
    width: 12.5rem;
  }
  main .buttons_name_container .avatar_name_container {
    height: 20rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 1.5rem;
  }
  main .buttons_name_container .avatar_name_container .text_container h1 {
    font-size: 2rem;
  }
  main .buttons_name_container .avatar_name_container .avatar {
    width: 80px;
  }
  main .buttons_name_container .buttons_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 10rem;
  }
  main .buttons_name_container .buttons_container button {
    cursor: pointer;
  }
  main .buttons_name_container .buttons_container button:hover {
    color: #fff;
    -webkit-transition: .2s;
    transition: .2s;
  }
}
/*# sourceMappingURL=style.css.map */